*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(rgb(11, 10, 73, 0.8), rgba(11, 10, 73, 0.8)), url(https://cdn.pixabay.com/photo/2018/05/12/02/52/leaves-3392320_960_720.jpg);
    color: white;
    background-position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 20px;
    height: 100%;
    width: 100%;
    margin: 10px 0;
}
header{
    text-align: center;
    color: orange;
    font-size: 30px;
    border-bottom: 1px solid green;
    margin: 20px;
}

.details{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    font-size: 25px;

}

.input{
    margin: 10px;
    padding: 10px;
    width: 600px;
}
.label{
    
    margin-left: 12px;
}
.gender{
    margin: 15px;
}
.gender input{
    margin: 20px;
}
.quiz{
    text-align: center;
    font-size: 40px;
}
.selectoptions{
    display: flex;
    justify-content: center;
}
.checkbox{
    margin: 20px;
    border: 1px solid green;
    width: 500px;
}
.checkbox input{
    margin: 20px;
   
}
.selectlower{
    display: flex;
    justify-content: center;
}
.essay{
    text-align: center;
    width: 100%;
    font-size: 23px;
}
.textarea textarea{
    
    padding: 30px;
    background: linear-gradient(rgb(11, 10, 73, 0.8), rgba(11, 10, 73, 0.8)), url(https://cdn.pixabay.com/photo/2018/05/12/02/52/leaves-3392320_960_720.jpg);
    color: white;
}
.religion{
    font-size: 23px;
    margin: 30px;
}
.religion select{
    width: 200px;
    padding: 5px;
}
.uploads{
   
   padding: 30px;
}
.uploads input,.uploads label{
    font-size: 24px;
}
.video{
    text-align: center;
    margin: 30px;
    width: 100%;
}
.video video{
    width: 60%;
}
footer{
    text-align: center;
    margin: 30px;
}
button{
    margin: 20px 5px;
    width: 20%;
    height: 40px;
    border-radius: 30px;
    outline: none;
    background-color: green;
    color: white;
}

